<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新闻</title>
</head>
<body>
<tr th:each="news : ${newsResponse.getResult().getData()}">
    <td th:text="${news.title}">标题</td>
    <td th:text="${news.date}">日期</td>
    <td th:text="${news.category}">类别</td>
    <td th:text="${news.author_name}">作者</td>
    <td><a th:herf="${news.url}">详情</a></td>
    <td><img class="img" th:src="${news.thumbnail_pic_s}"/></td>
    <td><img class="img" th:src="${news.thumbnail_pic_s02}"/></td>
    <td><img class="img" th:src="${news.thumbnail_pic_s03}"/></td>
</tr>
</body>
</html>
